#parse("common/include_web.html")
<base href="${base}/" />
</head>

<body>
#parse("common/head.html")
<!-- <div id="www-header">
	<div class="top clearfix">
		<div class="topLogo"><a href="${base}/about.html"><img src="${base}/images/3W_topLogo.jpg" /></a></div>
		<div class="topNav">
            <ul>
                <li class="current"><a href="${base}/about.html">3W简介</a></li>
                <li><a href="${base}/shareholderList.html">股东名单</a></li>
            </ul>
		</div>
		<div class="topSpecial"><a href="${base}/index.html">查看3W活动</a></div>
    </div>
</div> -->

<div id="container" class="clear">
 	<div class="aboutcont">
        <h2>介绍</h2>   
        	<p>3W（互联网、咖啡、红酒、沙龙），互联网的圈子。她是由一群热爱互联网、致力于行业交流、酷爱咖啡和红酒的互联网人士通过微博发起，百名互联网资深人士热烈响应和支持的互联网主题馆。她以为互联网人士提供一个开放、专业、休闲的交流场所和沟通平台为主旨，以展现日新月异的创意产业，提高企业竞争力和影响力，繁荣互联网文化，增进业界交流，促进行业发展为目标。当然，她还是一家让您享受人性化的咖啡和红酒文化及美食的小资聚点。</p>
        <h2>股东</h2>   
        	<a href="${base}/shareholderList.html" class="fr link_b">查看股东名单>></a>
        	<p>3W是互联网的圈子，具有超过100名知名股东和几百名会员。</p>
			<p>3W股东会第一期由超过100名股东组建而成，囊括了领军企业家、投资人、知名创业者、媒体意见领袖等多个领域的互联网业界影响力人士；同时3W通过会员体系发现和助力互联网行业的未来之星，打造思想交流、合作互助的会员圈子。</p>
			<p>3W已有股东由众多行业影响力人物组成，如知名企业家去哪儿CEO庄辰超、淘米网COO程云鹏、东方博雅CEO张伟、学而思创始人曹允东、走秀网创始人黄劲、盛大无线总裁高波等；知名投资人有腾讯联合创始人曾李青、新东方联合创始人徐小平、红杉资本创始人沈南鹏、北极光创投合伙人姜皓天、枫谷投资董事长曾玉、松禾资本董事长罗飞等；以及正在崛起的知名创业者雪球财经创始人方三文、贝瓦网创始人杨威、热酷游戏创始人刘勇等；知名媒体人如《创业家》社长牛文文、著名主持人、东方风行传媒集团创始人李静、北京电视台《名人堂》制片人路彬彬等，以及众多来自腾讯、百度、新浪、搜狐、盛大、金山、阿里巴巴、Google等公司的高管。</p>
        <h2>3W活动</h2>   
        	<a href="${base}/index.html" class="fr link_b">查看3W活动>></a>
        	<p>3W提供持续的深度沙龙及聚会，促进知识分享和股东交流。</p>
			<p>3W日常持续举办互联网知识分享沙龙，邀请各领域最顶级的企业家做深度分享。目前已经以微博营销、电子商务、移动互联网、互联网业态观察、互联网投资趋势等为主题举办了多个系列的高质量分享沙龙。</p>
			<p>在3W股东内部，定期的小型深入交流会，也已经成为行业领军人物的智库平台，促成3W股东内部进行有效交流和沟通。3W通过年度大会、季度活动、小型主题分享会等为股东提供更多私密深度交流和合作机会，帮助股东企业寻找灵感和潜在合作伙伴。3W目前已经成为互联网行业的最核心人脉圈，紧密联结了最有影响力、最有话语权、引领产业方向的企业家和领军人物，获得了极高的股东评价和口碑。</p>
        <h2>3W团队</h2>   
        	<ul class="ourstaff">
        		<li>
        			<img src="${base}/images/profile/banlon.png" alt="" width="75" height="75" class="br5" />
        			Banlon<br/>
        			掌柜的
        		</li>
        		<li>
        			<img src="${base}/images/profile/david.png" alt="" width="75" height="75" class="br5" />
        			David<br/>
        			首席攻城虱
        		</li>
        		<li>
        			<img src="${base}/images/profile/clear.png" alt="" width="75" height="75" class="br5" />
        			Clear<br/>
        			线框妹
        		</li>
        		<li>
        			<img src="${base}/images/profile/vee.png" alt="" width="75" height="75" class="br5" />
        			Vee<br/>
        			短毛攻城虱
        		</li>
        		<li>
        			<img src="${base}/images/profile/victor.png" alt="" width="75" height="75" class="br5" />
        			Victor<br/>
        			运营小二
        		</li>
        		<li>
        			<img src="${base}/images/profile/corbar.png" alt="" width="75" height="75" class="br5" />
        			Cobra<br/>
        			后院程序猿
        		</li>
        		<li>
        			<img src="${base}/images/profile/kim.png" alt="" width="75" height="75" class="br5" />
        			Kim<br/>
        			射鸡虱
        		</li>
        		<li>
        			<img src="${base}/images/profile/xndw.png" alt="" width="75" height="75" class="br5" />
        			<br/>
        			虚位以待
        		</li>
        	</ul>
    </div>
</div>

#parse("common/footer.html")
</body>
</html>