#parse("common/include_web.html")
<base href="${base}/" />
</head>

<body>
#parse("common/head.html")
<div id="container" class="clear">
 	<div class="aboutcont">
        <h2>股东名单</h2>   
       		<ul>
                <li><span>杨向阳</span> 深圳市源政投资发展有限公司董事长</li>
                <li><span>曾李青</span> 德迅投资创始人、腾讯联合创始人</li>
                <li><span>叶&nbsp;&nbsp;&nbsp;滨</span> 清科创投董事总经理,并兼任集团执行副总裁</li>
                <li><span>殷建波</span> google中国战略合作总监 </li>
                <li><span>曾&nbsp;&nbsp;&nbsp;玉</span> 枫树（北京）投资管理顾问有限公司创始人</li>
                <li><span>张&nbsp;&nbsp;&nbsp;伟</span> 博雅互动CEO </li>
                <li><span>庄辰超</span> 去哪儿网CEO</li>
                <li><span>吴世春</span> 乐呵互动COO，前酷讯网创始人</li> 
                <li><span>刘春宁</span> 腾讯视频总经理</li>
                <li><span>黄&nbsp;&nbsp;&nbsp;劲</span> 走秀网联合创始人，首席战略官</li>
                <li><span>袁&nbsp;&nbsp;&nbsp;疆</span> 也买酒董事长</li>
                <li><span>倪正东</span> 清科集团董事长</li>
                <li><span>詹&nbsp;&nbsp;&nbsp;川</span> 深圳市华澳资本管理有限公司创始合伙人</li>
                <li><span>胡世辉</span> 太美行动文化传播董事长</li>
                <li><span>厉&nbsp;&nbsp;&nbsp;伟</span> 深港产学研创业投资有限公司董事长 松禾成长关爱基金会理事长</li>
                <li><span>李&nbsp;&nbsp;&nbsp;静</span> 著名主持人、制片人，东方风行传媒集团创始人</li>
                <li><span>彭志坚</span> 腾讯产业共赢基金董事总经理</li>
                <li><span>郄建军</span> 高德软件副总裁</li>
                <li><span>沈南鹏</span> 红杉资本中国基金创始及执行合伙人</li>
                <li><span>孙陶然</span> 拉卡拉支付有限公司创始人，董事长兼总裁 </li>
                <li><span>赖霖枫</span> 广东一一五科技有限公司董事长兼CEO</li>
                <li><span>徐易容</span> 美丽说创始人CEO</li>
                <li><span>柯细兴</span> 亿玛公司总裁</li>
                <li><span>林嘉喜</span> 国金投资CEO</li>
                <li><span>李日学</span> 寺库中国总裁，全国寄卖工作委员会执行会长</li>
                <li><span>吴哲飞</span> 北京蓝色光标公共关系机构高级副总裁</li>
                <li><span>董安民</span> 百度行政总监、工程建设总监</li>
                <li><span>张逸龙</span> 东方弘道投资管理有限责任公司执行董事</li>
                <li><span>杨正宏</span> 东方弘道投资管理有限责任公司总经理</li>
                <li><span>梁&nbsp;&nbsp;&nbsp;宇</span> 戈壁投资 </li>
                <li><span>王&nbsp;&nbsp;&nbsp;迅</span> 锐嘉科科技集团董事长 </li>
                <li><span>连伟舟</span> 东南融通CEO</li>
                <li><span>李晓光</span> 原高阳圣思园信息技术有限公司董事长兼总裁</li>
                <li><span>张&nbsp;&nbsp;&nbsp;涛</span> 大众点评网CEO </li>
                <li><span>龚世海</span> 大众点评网技术副总裁</li>
                <li><span>王欣磊</span> 1号店产品设计副总裁，前沃尔玛电子商务产品副总裁</li>
                <li><span>姜跃平</span> 大众点评网产品运营副总裁</li>
                <li><span>纪学锋</span> 巨人网络副总裁纪学锋</li>
                <li><span>杨炯纬</span> 聚胜万合MediaV CEO</li>
                <li><span>徐&nbsp;&nbsp;&nbsp;鹏</span> Joyplus志精网络科技创始人兼CEO；AdSame传漾科技创始人、董事</li>
                <li><span>叶&nbsp;&nbsp;&nbsp;猛</span> 丁丁网副总裁</li>
                <li><span>许式伟</span> 七牛云存储CEO</li>
                <li><span>季&nbsp;&nbsp;&nbsp;奇</span> 品啦结婚网创始人兼CEO
                <li><span>洪清华</span> 景域旅游运营集团ceo;驴妈妈旅游网董事长 </li>
                <li><span>季昕华</span> ucloud 创始人</li>
                <li><span>肖英勃</span> CXC创投副总裁</li>
                <li><span>李&nbsp;&nbsp;&nbsp;丹</span> 驴妈妈旅游网总经理李丹 </li>
                <li><span>杨文斌</span> 好买基金执行董事、CEO</li>
                <li><span>王志琦</span> 前土豆网CFO</li>
                <li><span>黄&nbsp;&nbsp;&nbsp;蔚</span> 游果创始人、CEO和董事长</li>
                <li><span>胡泽民</span> 91无线联席CEO</li>
                <li><span>王哲人</span> 艾华迪评估咨询董事</li>
                <li><span>甘剑平</span> 启明创投合伙人</li>
                <li><span>马国琳</span> 深圳优威视讯有限公司董事长、总裁</li>
                <li><span>朱&nbsp;&nbsp;&nbsp;波</span> 广州创新谷孵化加速器创始合伙人，天使投资人，前华为互联网业务总裁</li>
                <li><span>肖&nbsp;&nbsp;&nbsp;旭</span> 广州创新谷孵化加速器创始合伙人，天使投资人</li>
                <li><span>刘&nbsp;&nbsp;&nbsp;成</span> 华为终端云业务部副总裁</li>
                <li><span>章春利</span> 华为企业发展部投资总监</li>
                <li><span>纪文泓</span> 走秀网CEO</li>
                <li><span>赵&nbsp;&nbsp;&nbsp;黎</span> 盛世瑞智国际文化传媒 总裁</li>
                <li><span>李&nbsp;&nbsp;&nbsp;华</span> 创办富图视觉婚纱摄影工作室</li>
                <li><span>孙莉莉</span> 深圳市中汇影视文化传播有限公司公司法定代表人</li>
                <li><span>郑伟鹤</span> 深圳市同创伟业投资董事长</li>
                <li><span>简&nbsp;&nbsp;&nbsp;斌</span> 嘉实基金首席培训师、电子商务部副总监 </li>
                <li><span>李&nbsp;&nbsp;&nbsp;毅</span> 原迅雷VP，菠萝游戏创始人</li>
                <li><span>白文涛</span> 深圳市分享投资合伙企业执行合伙人</li>
                <li><span>王乐京</span> 东方汇富创业投资管理有限公司总裁助理</li>
                <li><span>陈&nbsp;&nbsp;&nbsp;石</span> 高能资本CEO </li>
                <li><span>徐&nbsp;&nbsp;&nbsp;琳</span> 创业中，前腾讯</li>
                <li><span>杨亦铮</span> 天一资本创始合伙人</li>
                <li><span>陈大同</span> 硅谷OmniVision联合创始人；展讯通信公司联合创始人；华山资本创始合伙人</li>
                <li><span>黄冉华</span> 华佗360的科室点评网站</li>
                <li><span>沈烽亮</span> 心游科技联合创始人、副总裁</li>
                <li><span>程崇炎</span> 深圳市华傲数据技术有限公司 CEO</li>
                <li><span>梁文华</span> &nbsp;世华地产董事总经理</li>
                <li><span>陈亦泉</span> 华为企业BG企业统一通讯产品线总裁</li>
                <li><span>左&nbsp;&nbsp;&nbsp;晖</span> 链家地产董事长</li>
                <li><span>王兆春</span> 汇港集团董事长</li>
                <li><span>张圣瑞</span> 创业中，前华为</li>
                <li><span>刘&nbsp;&nbsp;&nbsp;岩</span> 春秋鸿影视董事长</li>
                <li><span>谢&nbsp;&nbsp;&nbsp;娜</span> 知名主持人</li>
                <li><span>鲍春华</span> 3W咖啡合伙人</li>
                <li><span>刘&nbsp;&nbsp;&nbsp;爽</span> NOP联合创始人</li>
                <li><span>马德龙</span> 3W咖啡合伙人</li>
                <li><span>韦海军</span> 盛大网络发展有限公司投资部资深投资经理</li>
                <li><span>陈生强</span> 京东商城CFO</li>
                <li><span>程&nbsp;&nbsp;&nbsp;浩</span> 迅雷联合创始人</li>
                <li><span>丁&nbsp;&nbsp;&nbsp;钧</span> 简网时代CEO</li>
                <li><span>葛斌斌</span> 品聚网创始人</li>
                <li><span>李国飞</span></li>	
                <li><span>李肇宁</span> 交通银行北京分行电子银行部总经理</li>
                <li><span>刘朝阳</span> 原腾讯广告副总裁</li>
                <li><span>刘洪涛</span> 网宿科技副总裁</li>
                <li><span>刘&nbsp;&nbsp;&nbsp;勇</span> 热酷创始人及CEO </li>
                <li><span>吕&nbsp;&nbsp;&nbsp;晋</span> 宜搜科技高级副总裁</li>
                <li><span>毛海滨</span> 目标软件前副总裁、游戏制作人</li>
                <li><span>欧&nbsp;&nbsp;&nbsp;蓬</span> 尚德机构 创始人</li>
                <li><span>陶&nbsp;&nbsp;&nbsp;涛</span> 基石资本合伙人</li>
                <li><span>王&nbsp;&nbsp;&nbsp;力</span></li>	
                <li><span>王胜利</span> 五星汇董事长 </li>
                <li><span>肖&nbsp;&nbsp;&nbsp;彬</span> 世纪佳缘CTO</li>
                <li><span>杨&nbsp;&nbsp;&nbsp;蓓</span> 德勤高级经理</li>
                <li><span>潘&nbsp;&nbsp;&nbsp;勇</span> 国联资源网 网络事业部 总监</li>
                <li><span>邵&nbsp;&nbsp;&nbsp;文</span> 北京</li>
                <li><span>许单单</span> Danseq投资咨询公司CEO，3W咖啡创始人</li>
                <li><span>吴&nbsp;&nbsp;&nbsp;江</span> 信达澳银基金</li>
                <li><span>陈&nbsp;&nbsp;&nbsp;澍</span> 游艺春秋网络科技(北京)有限公司CEO</li>
                <li><span>夏&nbsp;&nbsp;&nbsp;强</span> 3W咖啡合伙人</li>
                <li><span>程云鹏</span> 淘米公司总裁</li>
                <li><span>曹&nbsp;&nbsp;&nbsp;曦</span> 投资人</li>
                <li><span>柴银辉</span> 北京新媒传信科技有限公司 COO</li>
                <li><span>陈&nbsp;&nbsp;&nbsp;敢</span> 星途旅游创始人</li>
                <li><span>陈&nbsp;&nbsp;&nbsp;戈</span> 爱拍游戏副总裁</li>
                <li><span>陈&nbsp;&nbsp;&nbsp;华</span> 唱吧创始人</li>
                <li><span>陈&nbsp;&nbsp;&nbsp;晖</span> 新浪网技术中国有限公司</li>
                <li><span>陈科屹</span> 险峰华兴创业投资 创始合伙人</li>
                <li><span>陈楸帆</span> 业余科幻小说作者，Googler，PKUer </li>
                <li><span>陈&nbsp;&nbsp;&nbsp;威</span> 搜狗总监</li>
                <li><span>方&nbsp;&nbsp;&nbsp;丽</span> 腾讯战略部</li>
                <li><span>方三文</span> 雪球创始人</li>
                <li><span>符星华</span> 清科信息集团董事总经理</li>
                <li><span>付&nbsp;&nbsp;&nbsp;强</li>	
                <li><span>高&nbsp;&nbsp;&nbsp;波</span> 盛大游戏</li>
                <li><span>郭&nbsp;&nbsp;&nbsp;欣</span> 云智慧CEO</li>
                <li><span>郝&nbsp;&nbsp;&nbsp;峰</span> 优酷产品总监</li>
                <li><span>胡振勇</span> 奇虎360科技有限公司系统运维部运维总监</li>
                <li><span>简&nbsp;&nbsp;&nbsp;江</span> SK电讯（中国）创业投资基金 投资副总裁</li>
                <li><span>姜皓天</span> 北极光创投合伙人</li>
                <li><span>李海鹏</span> 百度 商业产品 高级研发工程师</li>
                <li><span>李年福</span> 百度商业UED高级经理</li>
                <li><span>李&nbsp;&nbsp;&nbsp;姝</span> 百度</li>
                <li><span>李小明</span> 兰德创业投资有限公司执行副总裁</li>
                <li><span>刘浩博</span> 北京金山游戏</li>
                <li><span>刘皓雷</span> 奇虎360市场与战略合作部总监</li>
                <li><span>刘&nbsp;&nbsp;&nbsp;蕊</span> 北京乾游网络有限公司 CEO</li>
                <li><span>罗&nbsp;&nbsp;&nbsp;敏</span> 好乐买总裁助理</li>
                <li><span>吕伟亮</span> 百度凤巢</li>
                <li><span>马&nbsp;&nbsp;&nbsp;立</span> 腾讯网副总编</li>
                <li><span>萨仁娜</span> 嘉德在线</li>
                <li><span>桑&nbsp;&nbsp;&nbsp;玺</span> 北京</li>
                <li><span>苏昌茂</span> 欢乐矩阵CEO</li>
                <li><span>孙&nbsp;&nbsp;&nbsp;琳</span> 百度</li>
                <li><span>陶忠伟</span> 大唐</li>
                <li><span>田启林</span> 凤凰网财经副主编</li>
                <li><span>王靖波</span> 鼎生科技总经理</li>
                <li><span>王&nbsp;&nbsp;&nbsp;坤</span> ku6商务经理</li>
                <li><span>王&nbsp;&nbsp;&nbsp;力</span> 百度贴吧</li>
                <li><span>王时光</span> 贝瓦网、贝瓦淘奇包市场总监</li>
                <li><span>王向辰</span> 联通时科应用信息化部总监</li>
                <li><span>王&nbsp;&nbsp;&nbsp;啸</span> 天使投资人、资深互联网人士</li>
                <li><span>吴洪彬</span> 骏网</li> 
                <li><span>吴裔敏</span> 大蛙数字科技创始人，前金山游戏总裁</li>
                <li><span>徐&nbsp;&nbsp;&nbsp;菁</span> 百度用户产品市场部总监</li>
                <li><span>徐晓平</span> 北京中食新华科技有限公司 副总经理</li>
                <li><span>许怡然</span> 完美时空战略副总裁</li>
                <li><span>杨&nbsp;&nbsp;&nbsp;光</span> 北京傲世荣盛科技有限公司CEO</li>
                <li><span>杨&nbsp;&nbsp;&nbsp;威</span> 贝瓦网创始人</li>
                <li><span>杨志明</span> 泥巴网创始人</li>
                <li><span>游敏丽</span> 点心产品总裁</li>
                <li><span>张&nbsp;&nbsp;&nbsp;坤</span> PPLive企业发展部副总裁</li>
                <li><span>张&nbsp;&nbsp;&nbsp;萌</span> 畅游</li>
                <li><span>张&nbsp;&nbsp;&nbsp;昕</span> 腾讯</li>
                <li><span>张翊钦</span> 海航任互联网业务总裁</li>
                <li><span>张有明</span> 过来人教育集团联合创始人</li>
                <li><span>张&nbsp;&nbsp;&nbsp;珍</span> 3955.com创始人兼CEO</li>
                <li><span>曹允东</span> 珍品网创始人总裁 学而思创始人 贝乐英语、明师教育投资人董事</li>
                <li><span>李东平</span> Frost & Sullivan China中国副总经理</li>
                <li><span>申&nbsp;&nbsp;&nbsp;音</span> NTA创新传播机构创始人，前《创业家》杂志主编</li>
                <li><span>薛&nbsp;&nbsp;&nbsp;浩</span> 天使投资人</li>
                <li><span>张永福</span> CNTV</li>
                <li><span>周荣华</span> 北京开心互娱</li>
                <li><span>徐志斌</span> 腾讯科技</li>
                <li><span>李&nbsp;&nbsp;&nbsp;黔</span> 比亚迪公司联席秘书</li>
            </ul>
       
    </div>
</div>

#parse("common/footer.html")
</body>
</html>