	
		#parse("common/include_web.html")
		<link rel="stylesheet" href="${base}/css/thickbox.css" type="text/css" />
		<script type="text/javascript" src="${base}/js/thickbox-compressed.js"></script>
		<script src="${base}/js/jquery.blockUI.js"></script>
		<script type="text/javascript">
		
			var size = 20;        //页大小
			var start = 0;  	  //开始记录数
			var isLoadComplete = false; //全部数据是否加载完毕
			
			//滚动加载
			$(function(){
				var scrollCount = 0;
				$(window).bind("scroll", function() {
					if(!isLoadComplete) {
						$('#msgLists').each(function(){
							if(scrollCount >= 2) {
								$('#show').hide();  
								$(".btnMore").show();
								return ;
							}				
							var fold = $(window).height() + $(window).scrollTop();
							if(fold >= $('#show').offset().top + 100) { 
								$('#show').show();
								loadMessage();
							    scrollCount++;
							}
						});
					}	
				});	
				
			});
		
			//初始化
			function init() {
				document.getElementById("msgLists").innerHTML = "";
				loadMessage();
			}
			
			//头像
			function getPortrait(portrait) {
				if(portrait == "")
					return "${base}/images/icon_man.png";
				else
					return portrait;
			}
			
			//内容
			function getContent(content, read) {
				if(read == 0) {
					return "<b>" + content + "</b>";
				} else {
					return content;
				}
			}
			
			//回复
			/* jQuery("a.reply").live('click',function(){
				jQuery(".messageBox04").slideUp("fast");
				if(jQuery(this).parent().parent().next(".messageBox04").css("display")=="none"){
					jQuery(this).parent().parent().next(".messageBox04").slideDown("fast");
				}else{
					jQuery(this).parent().parent().next(".messageBox04").slideUp("fast");
				}
				
			}); */
			
			
			//删除私信
			function deleteMessage(messageId, isSelf) {
				if(!confirm("是否确定删除该私信？")) {
					return;
				}
				jQuery.ajax({
					type: "get",
					dataType: "json",
					url: '${base}/message/deleteMessage.json',
					data: "messageId=" + messageId + "&isSelf=" + isSelf,
					success: function(result) {
						if(result.success) {
							document.getElementById("messagediv_" + messageId).style.display = "none";
							document.getElementById("messageCount").innerHTML = parseInt(document.getElementById("messageCount").innerHTML) - 1;
						} else {
							//登录超时
							if(result.msg == 20003) {
								showLoginDialog(function (data) {
									closeLoginDialog();
								},null,true);
								return;
							}else{
								alert(data.msg);
							}	
						}
					},
					error: function(err) {
						alert("操作失败");
					},
					complete: function() {
					}
				});
			}
			
			function submitReplay() {
				var textHtml=jQuery("#sx_message").val();
				if(textHtml.length==0){
					jQuery.blockUI({ css: { 
			            border: 'none', 
			            padding: '15px', 
			            backgroundColor: '#0061a6', 
			            '-webkit-border-radius': '10px', 
			            '-moz-border-radius': '10px', 
			            opacity: .8, 
			            color: '#fff' 
			        },
			        overlayCSS:  { 
			            backgroundColor: 'none', 
			            opacity:         0.6, 
			            cursor:          'wait' 
			        },
			        message:"写点东西吧，内容不能为空哦"
					}); 
			 
			        setTimeout(jQuery.unblockUI, 500); 

					return;
				}
				if(textHtml.length>200 ){
					jQuery.blockUI({ css: { 
			            border: 'none', 
			            padding: '15px', 
			            backgroundColor: '#0061a6', 
			            '-webkit-border-radius': '10px', 
			            '-moz-border-radius': '10px', 
			            opacity: .8, 
			            color: '#fff' 
			        },
			        overlayCSS:  { 
			            backgroundColor: 'none', 
			            opacity:         0.6, 
			            cursor:          'wait' 
			        },
			        message:"你输入的文本过长，请确认后再发送。"
					}); 
			 
			        setTimeout(jQuery.unblockUI, 500); 

					return;
				}
				
				var _content = document.getElementById("sx_message").value;
				//var _createtime = document.getElementById("sx_createtime").innerHTML;
				//_content = "回复$!{friendName}于" + _createtime + "发的私信：\n" + _content;
				jQuery.ajax({
					type: "post",
					dataType: "json",
					url: "${base}/message/sendMessage.json",
					data: { friendId: "$!{friendId}", content: _content},
					success: function(result) {
						if(result.success) {
							document.getElementById("msgLists").innerHTML = "";
							start = 0;
							loadMessage();								
							jQuery.blockUI({ css: { 
					            border: 'none', 
					            padding: '15px', 
					            backgroundColor: '#0061a6', 
					            '-webkit-border-radius': '10px', 
					            '-moz-border-radius': '10px', 
					            opacity: .8, 
					            color: '#fff' 
					        },
					        overlayCSS:  { 
					            backgroundColor: 'none', 
					            opacity:         0.6, 
					            cursor:          'wait' 
					        },
					        message:"发送成功。"
							}); 
							setTimeout(jQuery.unblockUI, 1000); 
							//jQuery(".messageBox04").hide("fast");
							document.getElementById("messageCount").innerHTML = parseInt(document.getElementById("messageCount").innerHTML) + 1;
						} else {
							//登录超时
							if(result.msg == 20003) {
								tb_remove();
								jQuery.blockUI({ css: {  backgroundColor: '#0061a6',   padding: '15px',  opacity: .8,   color: '#fff'  },
							        overlayCSS:  {  backgroundColor: 'none' },
							        message:"登录超时，请重新&nbsp;&nbsp;<a style='color:#fff;font-size=12px; font-weight:bold;' onclick='openLoginDialog()'>登录&nbsp;</a>"
									}); 
								$('.blockOverlay').click($.unblockUI); 
								return;
							}
							jQuery.blockUI({ css: {  backgroundColor: '#0061a6',   opacity: .8,   color: '#fff'  },
						        overlayCSS:  {  backgroundColor: 'none' },
						        message: result.msg
								}); 
						        setTimeout(jQuery.unblockUI, 2000); 
						}
						jQuery("#sx_message").val("");
					},
					error: function(err) {
						alert("操作失败");
					},
					complete: function() {
					}
				});
			}
			
			//查看更多
			function searchMore() {
				loadMessage();
			}
			
			function sendMessage() {
				var textHtml=jQuery("#content").val();
				if(textHtml.length==0){
					jQuery.blockUI({ css: { 
			            border: 'none', 
			            padding: '15px', 
			            backgroundColor: '#0061a6', 
			            '-webkit-border-radius': '10px', 
			            '-moz-border-radius': '10px', 
			            opacity: .8, 
			            color: '#fff' 
			        },
			        overlayCSS:  { 
			            backgroundColor: 'none', 
			            opacity:         0.6, 
			            cursor:          'wait' 
			        },
			        message:"写点东西吧，内容不能为空哦"
					}); 
			 
			        setTimeout(jQuery.unblockUI, 500); 

					return;
				}
				if(textHtml.length>200 ){
					jQuery.blockUI({ css: { 
			            border: 'none', 
			            padding: '15px', 
			            backgroundColor: '#0061a6', 
			            '-webkit-border-radius': '10px', 
			            '-moz-border-radius': '10px', 
			            opacity: .8, 
			            color: '#fff' 
			        },
			        overlayCSS:  { 
			            backgroundColor: 'none', 
			            opacity:         0.6, 
			            cursor:          'wait' 
			        },
			        message:"你输入的文本过长，请确认后再发送。"
					}); 
			 
			        setTimeout(jQuery.unblockUI, 500); 

					return;
				}
				
				var _friendId = document.getElementById("friendId").value;
				var _content = document.getElementById("content").value;
				jQuery.ajax({
					type: "post",
					dataType: "json",
					url: "${base}/message/sendMessage.json", 
					data: { friendId: _friendId, content: _content},
					success: function(result) {
						if(result.success) {
							document.getElementById("msgLists").innerHTML = "";
							start = 0;
							loadMessage();
							tb_remove();
							
							jQuery.blockUI({ css: { 
					            border: 'none', 
					            padding: '15px', 
					            backgroundColor: '#0061a6', 
					            '-webkit-border-radius': '10px', 
					            '-moz-border-radius': '10px', 
					            opacity: .8, 
					            color: '#fff' 
					        },
					        overlayCSS:  { 
					            backgroundColor: 'none', 
					            opacity:         0.6, 
					            cursor:          'wait' 
					        },
					        message:"发送成功。"
							}); 
							setTimeout(jQuery.unblockUI, 1000); 
							document.getElementById("messageCount").innerHTML = parseInt(document.getElementById("messageCount").innerHTML) + 1;
						} else {
							//登录超时
							if(result.msg == 20003) {
								tb_remove();
								jQuery.blockUI({ css: {  backgroundColor: '#0061a6',   padding: '15px',  opacity: .8,   color: '#fff'  },
							        overlayCSS:  {  backgroundColor: 'none' },
							        message:"登录超时，请重新&nbsp;&nbsp;<a style='color:#fff;font-size=12px; font-weight:bold;' onclick='openLoginDialog()'>登录&nbsp;</a>"
									}); 
								$('.blockOverlay').click($.unblockUI); 
								return;
							}
							jQuery.blockUI({ css: {  backgroundColor: '#0061a6',   opacity: .8,   color: '#fff'  },
						        overlayCSS:  {  backgroundColor: 'none' },
						        message: result.msg
								}); 
						        setTimeout(jQuery.unblockUI, 2000); 
						}
						jQuery("#content").val("");
					},
					error: function(err) {
						alert("操作失败");
					},
					complete: function() {
					}
				});
			}
			
			function openLoginDialog() {
				$.unblockUI();
				showLoginDialog(function (data) {
					if(data.success) {
						closeLoginDialog();
						window.location.reload();
					}
				},null,true);
			}
		
			function loadMessage() {
				jQuery.ajax({
					type: "get",
					dataType: "json",
					url: "${base}/message/queryMessagesWithAFriend.json",
					data: "friendId=$!{friendId}&start=" + start + "&size=" + size,
					success: function(result) {
						if(result.success) {
							var  messages = result.content;
							var html = "";
							for(var i = 0; i < messages.length; i++) {
								if(messages[i].userid != "$!{userId}") {
									html += "<div class='messageBox02 clear' id='messagediv_" + messages[i].messageid + "'>"+
				                    			"<div class='itemImg'>"+
													"<span></span>"+
													"<a href='${base}/user/f_" + messages[i].userid + ".html'>"+
														"<img src='" + getPortrait(messages[i].portrait) + "' width='50' height='50' />"+
													"</a>"+
												"</div>"+
			                    				"<div class='itemInfo'>"+
			                    					"<h4><a href='${base}/user/f_" + messages[i].userid + ".html'>" + messages[i].username + "：</a></h4>"+
			                    					getContent(messages[i].content, messages[i].read) +	
			                    					"<div class='review'>"+
			                    						"<span>"+		
			                    							
			                    							"<a onclick='deleteMessage(\"" + messages[i].messageid + "\", false);'>删除</a>"+
			                    						"</span>"+
			                    						"<em>" + messages[i].createtime + "</em>"+
			                    					"</div>"+
			                        				
				                    			"</div>"+
				                			 "</div>";
								} else {
					                html += "<div class='messageBox03 clear' id='messagediv_" + messages[i].messageid + "'>"+
				                    			"<div class='itemImg'>"+
					                				"<span></span>"+
					                				"<a href='${base}/user/f_" + messages[i].userid + ".html'>"+
					                					"<img src='" + getPortrait(messages[i].portrait) + "' width='50' height='50' />"+
					                				"</a>"+
					                			"</div>"+
				                    			"<div class='itemInfo'>"+
				                    				"<h4><a href='${base}/user/f_" + messages[i].userid + ".html'>我：</a></h4>"+
				                    				getContent(messages[i].content, messages[i].read) +
				                    				"<div class='review'>"+
				                    					"<span><a  onclick='deleteMessage(\"" + messages[i].messageid + "\", true);'>删除</a></span>"+
				                    					messages[i].createtime +
				                    				"</div>"+
				                 				"</div>"+
				                			"</div>";
								}
							}
							if(messages.length != size) {
								jQuery(".btnMore").hide();
								isLoadComplete = true;
							}
							
							document.getElementById("msgLists").innerHTML += html;
							start += messages.length;
						
							//显示暂无
							if(jQuery("#msgLists").children(".messageBox02").size() + jQuery("#msgLists").children(".messageBox03").size() == 0) {
								document.getElementById("msgLists").innerHTML = "<div class='promptBox'>暂无私信</div>";
							}
						} else {
							//登录超时
							if(result.msg == 20003) {
								showLoginDialog(function (data) {
									closeLoginDialog();
								},null,true);
								return;
							}else{
								alert(data.msg);
							}	
						}
					},
					error: function(err) {
						alert("操作失败");
					},
					complete: function() {
						$('#show').hide();
					}
				});
			}	
			//
			jQuery(function(){
				var limitNum = 200; 
				var pattern = '还可以输入' + limitNum + '字'; 
				jQuery('.statementText').html(pattern); 
				jQuery('.textareaCount').live('keyup', 
			function() { 
			var remain = jQuery(this).val().length; 
			if (remain > limitNum) { 
			pattern = jQuery('字数超过限制，请适当删除部分内容'); 
			} 
			else { 
			var result = limitNum - remain; 
			pattern = '还可以输入' + result + '字'; 
			} 
			jQuery(this).siblings('.statementText').html(pattern); 
			} 
			); 
			});
		</script>
		
	</head>

	<body onload="init();">		
		<a id="openLoginDialog"  style="display:none;" title="登录" class="thickbox">&nbsp;</a>
		<div id="loginNav" style="display:none;">
			#parse("common/login.html")
		</div>
		<div id="messageNav" style="display:none;">
	        <div class="messageBoxPop">
	        	<input type="hidden" id="friendId" value="$!{friendId}"/>
	        	<table>
	        		<tr>
	        			<td width="50">发给：</td>
	        			<td id="usertip">
							<input name="" type="text" class="inputStyle br5" value="$!{friendName}" disabled="disabled" />
						</td>
	        		</tr>
	        		<tr>
	        			<td valign="top">内容：</td>
	        			<td>
	        				<textarea id="content" cols="" rows="3" class="textareaCount" maxlength="200" style="margin-bottom:5px;"></textarea>
	        				<div class="statementText">还可输入200个字</div>
	        			</td>
	        		</tr>
	        		<tr>
	        			<td></td>
	        			<td><input type="submit" class="br5 btn_login" value="发 送" onclick="sendMessage();" /></td>
	        		</tr>
	        	</table>
	        </div>
		</div>
		#parse("common/head.html")
		<div id="container" class="clear">
 			<div class="content">
		        <dl>
		           	<dt>
		               	<h2 style="margin-top:0;">我和$!{friendName}的私信</h2>
		               	<a href="#TB_inline?test=null&height=250&width=425&inlineId=messageNav" title="写私信" class="thickbox more link_b">写私信</a>
		            </dt>
		            <dd>
		            	<div class="breadcrumb">
		            		<a href="${base}/message/messageList.html">返回所有私信</a> > 共<b id="messageCount">$!{messageCount}</b>条私信
		            	</div> 
		            	<div class="messageBox01 clear">
		            		<div class="itemImg">
		            			<span></span>
		            			<a href="${base}/user/i.html">
		            				<img width="50" height="50" src="$!session.getAttribute('USER_CONTEXT').portrait">
		            			</a>
		            		</div>
		            		<div>
		            			<textarea  class="itemInfo textareaCount" rows="3" maxlength="200" id="sx_message"></textarea>
		            			<div class='statementText'>还可以输入200字</div>
		            			<a onclick="submitReplay();" class="btn_bbg sx_reply" >回 复</a>
		            		</div>
		            	</div>
		            	<div id="msgLists"></div>
		        		<div id="show" style="display:none;"><img src="${base}/images/loading.gif" />加载中......</div>  
		        		<div class="btnMore" style="display:none;"><a onclick="searchMore();">查看更多&raquo;</a></div>
		       	  	</dd>
		        </dl>
		    </div>
		    <div class="sidebar">
		    		#if($!{adv})
	    		     <a href="$!{adv.link}"  target="_blank"><img src="$!{adv.url}" alt="$!{adv.memo}" width="300" /></a>
	    		    #else
	    		     <a><img src="${base}/images/rightAds.jpg" alt="广告" width="300" /></a>
    		        #end  
		    </div>
		</div>
		#parse("common/footer.html")
		
	</body>
</html>