<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
#parse("common/common.html")
<ul class="messageBox">
    <li>用&nbsp;户&nbsp;&nbsp;名:
      <input type="text" />
    </li>
    <li>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:
      <input type="password"  />
    </li>
    <li>确认密码:
      <input type="password"  />
    </li>
    <li>角&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;色:
      <select name="select" id="select">
        <option value="1">高级管理员</option>
        <option value="1">普通管理员</option>
      </select>
    </li>
</ul>