#parse("common/common.html")
 <form action="${base}/lagouAdmin/upPasswordAdmin" id="upPassword">
<ul class="editbox">
    <li><label>原&nbsp;&nbsp;密&nbsp;&nbsp;码：</label>
      <input type="password" name="password" id="password"  />
    </li>
    <li class="spec"><label>&nbsp;</label><em>6~64个字符，由数字、英文字母和下划线组成</em></li>
    <li><label>新&nbsp;&nbsp;密&nbsp;&nbsp;码：</label>
      <input type="password" name="ypassword" id="ypassword"  />
    </li>
    <li class="spec"><label>&nbsp;</label><em>6~64个字符，由数字、英文字母和下划线组成</em></li>
    <li><label>确认密码：</label>
      <input type="password" name="qpassword"  id="qpassword" />
    </li>
    <li class="spec"><label>&nbsp;</label><em>6~64个字符，由数字、英文字母和下划线组成</em></li>
</ul>
</form>
