 <div class="info">
 <h5 class="clearfix">活动信息</h5>
 <table width="100%" border="0" class="grid">
  <tr>
    <td rowspan="7" width="13%">
     <img src="images/47.png" width="80" height="80" >
    </td>
    <td width="10%" class="right">标题:</td>
    <td colspan="5" class="special">响应式图像技术与资源分享</td>
    </tr>
  <tr>
    <td class="right">分享嘉宾:</td>
    <td colspan="5" class="special">test@163.com</td>
    </tr>
  <tr>
    <td class="right">地点:</td>
    <td colspan="5" class="special">北京</td>
    </tr>
  <tr>
    <td class="right">时间:</td>
    <td colspan="5" class="special">2012年12月07日 23:00 -  2012年12月08日 01:00 </td>
    </tr>
  <tr>
    <td class="right">费用:</td>
    <td colspan="5" class="special"> 网站报名<em>100</em>元/人，现场报名<em>200</em>元/人</td>
    </tr>
    <tr>
    <td class="right">活动标签:</td>
    <td colspan="5" class="special">标签&nbsp;标签&nbsp;标签&nbsp;标签&nbsp;</td>
    </tr>
    <tr>
    <td class="right">限额:</td>
    <td width="15%" class="special">100人</td>
    <td width="15%" class="special">报名人数:</td>
    <td width="15%" class="special">20</td>
    <td width="15%" class="special">签到人数:</td>
    <td width="23%" class="special">16</td>
    </tr> 
</table>
<h5 class="clearfix">活动详情</h5>
<div>
 Jake Rocheleau是一名狂热的Web设计师及社交媒体企业家。他经常研究数字化设计和新时代互联网思想的最新趋势。在响应式的网站设计中,很重要的一个部分就是图片的响应式设计,在这篇文章中Rocheleau分享了移动Web在处理图片时需要用的一些技术,使用它们能够帮助你快速的生成支持响应式设计的图片。
</div>
</div>