<div id="linkbox">
	<dl>
		<dt>合作媒体</dt>
		<dd>
			<ul class="linkconul">
				<li><a href="http://iheima.com/" target="_blank">创业家杂志</a></li>
                <li><a href="http://www.huxiu.com/" target="_blank">虎嗅网</a></li> 
                <li><a href="http://tech.sina.com.cn/" target="_blank">新浪科技</a></li>
                <li><a href="http://it.sohu.com/" target="_blank">搜狐IT</a></li>  
                <li><a href="http://tech.163.com/" target="_blank">网易科技</a></li> 
                <li><a href="http://tech.qq.com/" target="_blank">腾讯科技</a></li> 
                <li><a href="http://www.techweb.com.cn/" target="_blank">Techweb</a></li> 
                <li><a href="http://www.donews.com/" target="_blank">Donews</a></li> 
                <li><a href="http://www.bianews.com/" target="_blank">Bianews</a></li> 
                <li><a href="http://www.36kr.com/" target="_blank">36氪</a></li> 
                <li><a href="http://www.iterduo.com/" target="_blank">IT耳朵</a></li> 
            </ul>
		</dd>
	</dl>
	<dl>
		<dt>合作伙伴</dt>
		<dd>
			<ul class="linkconul">
                <li><a href="http://www.cogobuy.com/" target="_blank">科通芯城网</a></li> 
                <li><a href="http://developer.samsung.com/home.do" target="_blank">三星MSCC</a></li> 
                <li><a href="http://connect.qq.com/" target="_blank">QQ互联</a></li> 
                <li><a href="http://open.qq.com/" target="_blank">腾讯开放平台</a></li> 
                <li><a href="http://www.dell.com.cn/" target="_blank">戴尔电脑</a></li> 
                <li><a href="http://www.amap.com/" target="_blank">高德地图</a></li> 
                <li><a href="http://www.hwclouds.com/" target="_blank">华为云服务</a></li> 
                <li><a href="http://djt.qq.com/" target="_blank">腾讯QQ大讲堂</a></li> 
                <li><a href="http://lieyunwang.com/" target="_blank">猎云网</a></li> 
                <li><a href="http://websalon.info/" target="_blank">websalon</a></li> 
                <li><a href="http://lanhan.cn/" target="_blank">懒汉互联</a></li> 
                <li><a href="http://www.zuitech.com/" target="_blank">最科技</a></li> 
                <li><a href="http://www.snsiu.com/" target="_blank">行晓网</a></li> 
                <li><a href="http://www.buzz.cn/" target="_blank">拔丝活动</a></li>
                <li><a href="http://www.jz265.com/" target="_blank">建站中国</a></li>
                <li><a href="http://www.360body.com/" target="_blank">博迪健康</a></li>
                <li><a href="http://www.c-oin.com/" target="_blank">C-oin</a></li>
            </ul>
		</dd>
	</dl>
</div>
<div id="footer">
	<div class="wrapper">
		<a href="${base}/about.html">关于3W</a> 
		<em>|</em>
		<a href="http://e.weibo.com/3wcoffee?ref=http%3A%2F%2Fweibo.com%2F1774026025%2Fmyfollow%3Fsearch%3D3W%25E5%2592%2596%25E5%2595%25A1" target="_blank">3W微博</a>
		<em>|</em>
		<a href="http://lagou.com" target="_blank">拉勾网（垂直于互联网行业的招聘网站）</a>
		<span>京ICP备12015382号-1</span>
	</div>
</div>