<div id="footer">
	<div class="foot clearfix">
	    <div class="footNav">
			<ul>
				<li><a href="${base}/index.html">进入拉勾</a></li><li>|</li><li><a href="http://e.weibo.com/3wcoffee?ref=http%3A%2F%2Fweibo.com%2F1774026025%2Fmyfollow%3Fsearch%3D3W%25E5%2592%2596%25E5%2595%25A1" target="_blank">3W微博</a></li><li>|</li><li><img class="weixin-qrcode" title="在微信里搜索“3W Coffee”或在手机上扫描本二维码添加3W Coffee微信帐号" width="200" height="200" alt="3W Coffee微信" src="${base}/images/3W_weixin.jpg" style="display: none;"><a class="weixin" title="3W微信" href="JavaScript:void(0);">3W微信</a></li></ul>
		</div>
        <script src="${base}/js/plugins.js"></script>
        <script src="${base}/js/script.js"></script> 
  
        <div class="copyRight">京ICP备12015382号-1</div>
    </div>
</div>