#parse("common/include_web.html")
<script type="text/javascript" src="${base}/js/user/forgetPassword.js" ></script>
<script type="text/javascript">
	$(function(){
		jQuery.ajax({
			type : 'POST',
			dataType : "json",
			url : ctx+'/user/adv?type=7',
			data : {},
			success : function(data) {
					var adv = data.content;
					if(data.success && adv !=null)
					{
						$("#advImg").html("<a href=\""+adv.link+"\"   target=\"_blank\"><img src=\""+adv.url+"\" alt=\""+adv.memo+"\" width=\"300\" /></a>");
					}
			},
			error : function(err) {
			},
			complete : function() {
			}
		});
	});
</script>
<style type="text/css" media="screen">
#jMonthCalendar .EventBg { background-color: #ffe671;}
</style>
</head>

<body>
<div id="header">
	<div class="wrapper">
		<a href="${base}/index.html" class="logo">3W</a>
    </div>
</div>
<div id="container" class="clear"> 
	<div class="login_wrapper clear">
 		<div class="login_left ">
        	<h2>找回密码</h2>            
        	<form id="forgetpasswordform" action="${base}/user/resetPassword.html" method="post">
	        	<div class="forgetPwd">
	            	<h3>请输入你的注册邮箱，我们会将密码重置邮件发送到你的邮箱。</h3>
	                <div class="mb20">
	                	<label>你的邮箱  </label><input name="email" type="text"  id="emailV"  class="inputStyle br5" placeholder="输入邮箱帐号" />
	                </div>
	                <input type="button" onclick="forgetpasswordSubmit()" value="提 交"  class="br5 btn_login"  />   <!-- onclick="location.href='forgetPassword02.html'" -->       
	                <h4>还没有3W帐号？<a href="register.html" class="link_ub">立即注册</a></h4>
	        	</div>
        	</form>
        </div>
        <div class="login_right">
            <a href="http://www.bokecc.com/" target="_blank"><img src="${base}/images/new/uc_login.jpg" alt="广告" width="300" height="225" /></a>
        </div> 
    </div>
</div>

#parse("common/footer.html")
</body>
</html>