#parse("common/include_web.html")
<style type="text/css" media="screen">
#jMonthCalendar .EventBg { background-color: #ffe671;}
</style>
</head>

<body>




<div id="header">
	<div class="wrapper">
		<a href="${base}/index.html" class="logo">3W</a>
    </div>
</div>
<div id="container" class="clear"> 
	<div class="login_wrapper clear">
 		<div class="login_left ">
        	<h2>找回密码</h2>            
        	<h3>#if($!{errorCode}) 
            			<font color="red"><b>#errorMsg($!{errorCode}) </b></font>
            		#else 你的密码重置邮件已经发送，请查收邮件。 
            		#end</h3>
            <a href="${base}/index.html" class="br5 btn_login db">返回首页</a>		
        </div>
        <div class="login_right">
        	#if($!{adv})
	    		<a href="$!{adv.link}" target="_blank"><img src="$!{adv.url}" alt="$!{adv.memo}" width="300" /></a>
	    		 #else
	    		 <a href="http://www.bokecc.com/" target="_blank"><img src="${base}/images/new/uc_login.jpg" alt="广告" width="300" height="225" /></a>
    		#end 
        </div> 
    </div>
</div>
#parse("common/footer.html")
</body>
</html>